<table border="1">
  <tr>
    <td (click)="clicked(0)">{{this.newarray[0]}}</td>
    <td (click)="clicked(1)">{{this.newarray[1]}}</td>
      <td (click)="clicked(2)">{{this.newarray[2]}}</td>
      <td (click)="clicked(3)">{{this.newarray[3]}}</td>
    </tr>
    <tr>
        <td (click)="clicked(4)">{{this.newarray[4]}}</td>
        <td (click)="clicked(5)">{{this.newarray[5]}}</td>
        <td (click)="clicked(6)">{{this.newarray[6]}}</td>
        <td (click)="clicked(7)">{{this.newarray[7]}}</td>
  </tr>
  </table>
 